@import "mixins/link";
@import "mixins/button";
@import "utils/variables";
@import "common/common";
@import "utils/normalize";
@import "./mixins/fonts";
@import "mixins/media";

.header {
  width: 100%;
  box-shadow: 0 1px 0 #ececec, inset 0 1px 0 #ececec;
  background: #ffffff;
  position: relative;
}

.header-nav {
  display: flex;
  justify-content: space-between;
  margin: 0 30px 0 116px;
  padding: 22px 0;

  @include media-tablet {
    padding: 0;
    margin: 0 50px;
  }

  @include media-laptop {
    padding: 0;
    margin: 0 100px;
  }
}

.link-header-laptop-catalog {
  display: none;

  @include media-tablet {
    display: none;
  }

  @include media-laptop {
    display: block;

    @include link(17px);

    padding: 35px 50px 0 0;
    border-right: 1px solid rgba(0, 0, 0, 0.1);
  }
}

.link-header-laptop-knitted {
  display: none;

  @include media-tablet {
    display: none;
  }

  @include media-laptop {
    display: block;

    @include link(17px);

    margin-right: 90px;
    padding: 35px 0;
  }
}

.search {
  display: none;

  @include media-tablet {
    display: block;
    position: relative;
    border-left: 1px solid rgba(0, 0, 0, 0.1);
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    padding: 45px;
    margin-left: 209px;

    &::before {
      position: absolute;
      content: "";
      background-image: url("../img/search.png");
      width: 18px;
      height: 18px;
      top: 36px;
      left: 36px;
    }

    &:hover::before {
      background-image: url("../img/search-hover.png");
    }

    &:active::before {
      opacity: 20%;
    }
  }

  @include media-laptop {
    margin-left: 0;
  }
}

.cart-link {
  display: none;

  @include media-tablet {
    @include link(17px);

    display: block;
    position: relative;
    margin-left: 58px;
    padding: 35px 0;

    &::before {
      content: "";
      position: absolute;
      top: 35px;
      left: -41px;
      width: 21px;
      height: 18px;
      background-image: url("../img/basket.png");
    }

    &:hover::before {
      background-image: url("../img/basket-hover.png");
    }

    &:active::before {
      background-image: url("../img/basket-active.png");
    }
  }

  @include media-laptop {
    margin-left: 20px;
  }
}

.btn-menu {
  border: none;
  outline: none;
  background-color: #ffffff;

  @include media-tablet {
    display: none;
  }
}

.logo-header {
  display: block;

  &:focus {
    opacity: $opacity60;
  }

  @include media-tablet {
    display: none;
  }
}

.logo-header-tablet {
  display: none;

  @include media-tablet {
    display: block;
    padding: 20px 0;

    &:focus {
      opacity: $opacity60;
    }
  }

  @include media-laptop {
    display: none;
  }
}

.main-logo-laptop {
  display: none;

  @include media-tablet {
    display: none;
  }

  @include media-laptop {
    display: block;
    position: relative;
    width: 149px;

    &::before {
      position: absolute;
      content: "";
      width: 149px;
      height: 72px;
      top: 15px;
      left: 0;
      background-image: url("../img/mishka-logo.png");
    }

    &:hover::before {
      opacity: $opacity60;
    }

    &:active::before {
      opacity: $opacity30;
    }
  }
}

.main {
  width: 100%;
  content: "";
  background-image: url("../img/hero-mobile.png");
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: -15px;

  @include media-tablet {
    background-image: url("../img/hero-desktop.png");
  }
}

.link-main-tablet {
  display: none;

  @include media-tablet {
    display: flex;
    justify-content: space-between;
    margin: 0 50px;
    padding-top: 25px;
  }

  @include media-laptop {
    margin: 0 100px;
  }
}

.link-main-laptop {
  display: none;

  @include media-tablet {
    display: none;
  }

  @include media-laptop {
    display: block;

    @include link(15px);
  }
}

.link-main {
  display: none;

  @include media-tablet {
    display: block;

    @include link(15px);
  }

  @include media-laptop {
    display: none;
  }
}

.link-delivery-tablet {
  display: none;

  @include media-tablet {
    display: block;
    color: #444444;
    font-size: 15px;
    text-decoration: none;
    margin-left: 134px;

    &:focus {
      color: #63d1bb;
      font-weight: 700;
    }
  }

  @include media-laptop {
    margin-left: 410px;
  }
}

.main-title {
  @include h1(27px);

  text-align: center;
  margin: 0 auto 120px auto;
  padding-top: 75px;

  @include media-tablet {
    @include h1(43px);

    margin: 0 auto 315px auto;
    padding-top: 161px;
    line-height: 50px;
  }

  @include media-laptop {
    @include h1(53px);

    margin: 0 auto 300px auto;
    line-height: 57px;
    padding-top: 161px;
  }
}

.main-title-br {
  @include media-tablet {
    display: none;
  }

  @include media-laptop {
    display: none;
  }
}

.green-btn {
  @include media-tablet {
    display: flex;
    margin: 0 50px;
  }

  @include media-laptop {
    margin: 0 100px;
  }
}

.btn-interior {
  @include btn-green(21px, "../../img/interior.png", "../../img/interior-hover.png", "../../img/interior-active.png", 40px, 62px, 23px, 35px);

  @include media-tablet {
    @include btn-green(30px, "../../img/interior.png", "../../img/interior-hover.png", "../../img/interior-active.png", 40px, 62px, 23px, 35px);
  }
}


.btn-toys {
  @include btn-green(21px, "../../img/toy.png", "../../img/toy-hover.png", "../../img/toy-active.png", 60px, 60px, 23px, 25px);

  @include media-tablet {
    @include btn-green(30px, "../../img/toy.png", "../../img/toy-hover.png", "../../img/toy-active.png", 60px, 60px, 23px, 25px);
  }
}

.zigzag-design-main {
  display: none;

  @include media-tablet {
    display: block;
    position: relative;
  }
}

.img-zigzag-main {
  display: none;

  @include media-tablet {
    display: block;
    width: 100%;
    position: absolute;
    top: -15px;
    left: 0;
  }

  @include media-laptop {
    top: -20px;
  }
}

.container-main {
  margin: 34px 30px 0 30px;

  @include media-tablet {
    margin: 34px 50px 0 50px;
  }

  @include media-laptop {
    margin: 34px 100px 0 100px;
  }
}

.discount-title-flex {
  @include media-tablet {
    display: flex;
    justify-content: space-between;
  }

  @include media-laptop {
    display: none;
  }
}

.h2 {
  @include h2(25px);

  @include media-tablet {
    @include h2(43px);
  }

  @include media-laptop {
    @include h2(53px);

    z-index: 6;
    margin-top: 63px;
  }
}

.discount-title {
  @include h3(17px, #63d1bb);

  @include media-tablet {
    text-align: center;
    line-height: 17px;
  }

  @include media-laptop {
    margin: 90px 58px 0 47px;
  }
}

.discount-title-br {
  display: none;

  @include media-tablet {
    display: block;
  }
}

.product-cart-laptop {
  display: none;

  @include media-tablet {
    display: none;
  }

  @include media-laptop {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
  }
}

.description-cart-laptop {
  display: none;

  @include media-tablet {
    display: none;
  }

  @include media-laptop {
    display: block;
    position: relative;
    width: 100%;
    margin: 30px 0 60px 0;
  }
}

.img-knitted-laptop {
  display: none;

  @include media-tablet {
    display: none;
  }

  @include media-laptop {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 525px;
    z-index: -2;
  }
}

.product-cart-tablet {
  display: none;

  @include media-tablet {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
  }

  @include media-laptop {
    display: none;
  }
}

.display-none-tablet {
  @include media-tablet {
    display: none;
  }

  @include media-laptop {
    display: none;
  }
}

.description-cart-tablet {
  display: none;

  @include media-tablet {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 46%;
    margin-right: 44px;
  }

  @include media-laptop {
    margin-right: 0;
    align-items: flex-start;
    width: 35%;
  }
}

.img-knitted-tablet {
  display: none;

  @include media-tablet {
    display: block;
    width: 46%;
  }
}

.tablet-img-cart {
  display: none;

  @include media-tablet {
    display: block;
    width: 100%;
  }
}

.product-description {
  margin: 30px 0;

  @include media-tablet {
    margin: 0;
    font-size: 17px;
    line-height: 30px;
  }

  @include media-laptop {
    margin: 30px 0;
  }
}

.product-parameters {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: auto;
  margin-bottom: 30px;

  @include media-tablet {
    width: 100%;
    margin-top: 30px;
  }
}

.border-parameters-product {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  margin-block-start: 7px;
  margin-block-end: 7px;
}

.cart-product {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.price-product {
  display: block;
  text-align: center;
  font-size: 17px;
  font-weight: 700;
  margin: 30px 0;

  @include media-tablet {
    font-size: 20px;
  }

  @include media-laptop {
    margin: 100px 0 30px 0;
  }
}

.main-btn {
  @include main-btn(83px);
}

.img-zigzag-line {
  width: 100%;
  margin: 35px 0;

  @include media-laptop {
    margin: 25px 100px;
    width: 84%;
  }
}

.advantages {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: baseline;
  margin-top: 20px;

  @include media-laptop {
    margin-left: 175px;
  }
}

.advantages-cart {
  margin: 35px 35px 0 0;
  width: 280px;
}

.advantages-title {
  @include h2(25px);

  margin-bottom: 30px;

  @include media-tablet {
    @include h2(43px);
  }

  @include media-laptop {
    @include h2(53px);

    margin-left: 175px;
  }
}

.advantages-subtitle {
  @include h3(17px, #000000);

  margin: 20px 0;

  @include media-tablet {
    @include h3(20px, #000000);
  }
}

.reviews {
  margin-top: 45px;

  @include media-tablet {
    display: none;
  }
}

.reviews-tablet {
  display: none;

  @include media-tablet {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    margin-top: 82px;
  }

  @include media-laptop {
    margin-bottom: 42px;
  }
}

.reviews-img-tablet {
  display: none;

  @include media-tablet {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
  }
}

.reviews-title {
  @include h2(25px);

  @include media-tablet {
    @include h2(43px);

    z-index: 6;
  }

  @include media-laptop {
    @include h2(53px);
  }
}

.reviews-title-button {
  display: none;

  @include media-tablet {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin: 30px 50px;
  }

  @include media-laptop {
    margin: 30px 50px 30px 174px;
  }
}

.reviews-text {
  line-height: 30px;

  @include media-tablet {
    z-index: 6;
    margin: 35px 50px;
  }

  @include media-laptop {
    margin: 30px 50px 30px 174px;
  }
}

.reviews-contact-arrow {
  display: none;

  @include media-tablet {
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 6;
    margin: 0 50px;
  }

  @include media-laptop {
    margin: 0 50px 0 174px;
  }
}

.reviews-flex-center {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.reviews-contact {
  margin: 40px 0 36px 0;
}

.reviews-name {
  font-size: 17px;
  font-weight: 700;

  @include media-tablet {
    font-size: 18px;
  }
}

.e-mail {
  @include media-tablet {
    font-size: 18px;
  }
}

.reviews-btn-main {
  @include main-btn(80px);

  margin-top: 38px;
}

.contact-info {
  @include media-laptop {
    display: none;
  }
}

.contact-info-laptop {
  display: none;

  @include media-tablet {
    display: none;
  }

  @include media-laptop {
    display: flex;
    position: relative;
    margin-left: 174px;
    margin-bottom: 105px;
  }
}

.contact-info-title {
  @include h3(18px, #000000);

  @include media-tablet {
    @include h3(43px, #000000);
  }

  @include media-laptop {
    @include h3(53px, #000000);
  }
}

.contact-flag {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flag {
  display: none;

  @include media-tablet {
    display: block;
  }
}

.flag-laptop {
  position: absolute;
  top: 50px;
  left: -112px;
  width: 53px;
  height: 81px;
}

.contact-mail-address {
  @include media-tablet {
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
  }

  @include media-laptop {
    margin-top: 65px;
  }

  @include media-laptop {
    flex-direction: column;
    align-items: flex-start;
  }
}

.contact-margin-p {
  @include media-tablet {
    display: block;
    margin-right: 30px;
  }
}

.contact-info-address,
.contact-info-mail {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.contact-info-address {
  margin-right: 35px;

  @include media-tablet {
    margin-left: 55px;
  }

  @include media-laptop {
    margin: 0;
  }
}

.contact-map-laptop {
  display: none;

  @include media-tablet {
    display: none;
  }

  @include media-laptop {
    display: flex;
    justify-content: space-between;
  }
}

.contact-address-laptop {
  display: none;

  @include media-tablet {
    display: none;
  }

  @include media-laptop {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 81px 45px 0 0;
  }
}

.map-flex-center {
  display: flex;
  align-items: center;
  flex-direction: column;

  @include media-laptop {
    display: none;
  }
}

.map {
  position: relative;
  margin: 35px auto;

  &::after {
    position: absolute;
    width: 67px;
    height: 100px;
    content: "";
    background-image: url("../img/map-pin.png");
    top: 150px;
    left: 138px;
  }

  @include media-tablet {
    display: none;
  }
}

.map-tablet {
  display: none;

  @include media-tablet {
    display: block;
    position: relative;
    margin: 60px 0;

    &::after {
      position: absolute;
      content: "";
      background-image: url("../img/map-pin.png");
      width: 67px;
      height: 100px;
      top: 138px;
      left: 363px;
    }
  }
}

.map-laptop {
  display: none;

  @include media-tablet {
    display: none;
  }

  @include media-laptop {
    display: block;
    position: relative;

    &::after {
      position: absolute;
      content: "";
      background-image: url("../img/map-pin.png");
      width: 67px;
      height: 100px;
      top: 160px;
      left: 245px;
    }
  }
}

.img-map-laptop {
  display: none;

  @include media-tablet {
    display: none;
  }

  @include media-laptop {
    display: block;
    height: 100%;
  }
}

.contact-main-btn {
  @include main-btn(56px);

  margin: 0 30px 40px 30px;

  @include media-laptop {
    @include main-btn(42px);

    margin: 80px 0 0 0;
  }
}

.footer {
  width: 100%;
  background-color: #f1f1f1;
  display: flex;
  align-items: center;
  flex-direction: column;

  @include media-tablet {
    flex-direction: row;
    justify-content: space-between;
    padding: 0 50px;
  }

  @include media-laptop {
    padding: 0 100px;
  }
}

.footer-logo {
  display: none;

  @include media-tablet {
    display: block;
    position: relative;
    padding: 15px;
    width: 102px;
    margin-right: 130px;

    &::before {
      position: absolute;
      content: "";
      width: 102px;
      height: 34px;
      top: 0;
      left: 0;
      background-image: url("../img/logo-footer.png");
    }

    &:hover::before {
      background-image: url("../img/logo-footer-hover.png");
    }

    &:active::before {
      opacity: $opacity30;
    }
  }
}
