@import "utils/normalize";
@import "common/common";
@import "index";
@import "order";

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

body {
  margin: 0;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Open Sans", sans-serif;
  margin-block-start: 0;
  margin-block-end: 0;
}

p {
  font-size: 15px;
  font-weight: 400;
  color: #444444;
  line-height: 24px;

  @include media-tablet {
    font-size: 17px;
  }
}
