@import "../mixins/link";
@import "../mixins/button";
@import "../utils/variables";
@import "../mixins/media";

.big-link {
  @include link(17px);
}

.link {
  @include link(15px);
}


.mail-link {
  @include mail-link(15px);

  @include media-tablet {
    @include mail-link(17px);
  }
}

.arrow {
  display: flex;
  justify-content: flex-start;
}

.btn-arrow {
  background: #ffffff;
  border: 1px solid #ececec;
  padding: 13px 40px;
  outline: none;

  &:hover {
    opacity: $opacity60;
  }

  &:active {
    opacity: $opacity30;
  }
}

.icon {
  display: flex;
  justify-content: space-between;
  position: relative;
  align-items: center;
  width: 141px;
  margin: 0 90px;
  padding: 40px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);

  @include media-tablet {
    border-bottom: none;
  }
}

.icon-instagram {
  &::before {
    position: absolute;
    content: "";
    width: 22px;
    height: 22px;
    background-image: url("../../img/insta.png");
    top: 35px;
    left: 0;
  }

  &:hover::before {
    background-image: url("../../img/insta-hover.png");
  }

  &:active::before {
    opacity: $opacity30;
  }
}

.icon-fb {
  &::before {
    position: absolute;
    content: "";
    width: 15px;
    height: 28px;
    background-image: url("../../img/fb.png");
    top: 30px;
    left: 65px;
  }

  &:hover::before {
    background-image: url("../../img/fb-hover.png");
  }

  &:active::before {
    opacity: $opacity30;
  }
}

.icon-twitter {
  &::before {
    position: absolute;
    content: "";
    width: 23px;
    height: 20px;
    background-image: url("../../img/twitter.png");
    top: 35px;
    left: 120px;
  }

  &:hover::before {
    background-image: url("../../img/twitter-hover.png");
  }

  &:active::before {
    opacity: $opacity30;
  }
}

.copyright {
  display: flex;
  justify-content: flex-start;
  position: relative;
  font-family: "Open Sans", sans-serif;
  font-size: 19px;
  font-weight: 700;
  line-height: 18px;
  color: #000000;
  padding: 30px 0;
  margin: 0 70px;
  width: 160px;

  &:active {
    opacity: $opacity30;
  }

  &::after {
    position: absolute;
    content: "";
    width: 27px;
    height: 34px;
    top: 20px;
    left: 150px;
    background-image: url("../../img/copyrigth.png");
  }

  &:hover::after {
    background-image: url("../../img/copyrigth-hover.png");
  }

  &:active::after {
    opacity: $opacity30;
  }
}
