@import "../utils/variables";

@mixin btn-green ($padding-green, $width-btn,$img-btn, $img-btn-hover, $img-btn-active, $img-width, $img-height,$top-img-position, $right-img-position) {
  position: relative;
  display: flex;
  justify-content: space-between;
  border: none;
  outline: none;
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  color: #ffffff;
  background-color: #56c3b2;
  padding: $padding-green 35px;
  width: $width-btn;

  &::after {
    content: "";
    width: $img-width;
    height: $img-height;
    position: absolute;
    top: $top-img-position;
    right: $right-img-position;
    background-image: url($img-btn);
  }

  &:hover {
    background-color: #59d5bc;
  }

  &:hover::after {
    background-image: url($img-btn-hover);
  }

  &:active::after {
    background: url($img-btn-active);
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
  }
}

@mixin main-btn ($padding-left-right) {
  color: #444444;
  background-color: #ffffff;
  border: 2px solid #444444;
  font-size: 17px;
  font-weight: 700;
  line-height: 20px;
  padding: 20px $padding-left-right;
  outline: none;

  &:hover {
    color: #ffffff;
    background-color: #444444;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
  }
}

@mixin select-size {
  font-family: "Open Sans", sans-serif;
  font-size: 17px;
  font-weight: 700;
  padding: 20px 50px;
  color: #444444;
  border: 2px solid rgba(68, 68, 68, 0.1);
  background-color: #ffffff;

  &:hover {
    border: 2px solid rgba(68, 68, 68, 0.3);
  }

  &:focus {
    outline: none;
    border: 2px solid #62d1ba;
  }
}

