@import "../utils/variables";

@mixin link($link-size) {
  font-size: $link-size;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  line-height: 24px;
  color: #000000;

  &:hover {
    opacity: $opacity30;
  }

  &:active {
    opacity: $opacity60;
  }
}

@mixin mail-link {
  font-family: "Open Sans", sans-serif;
  font-size: 17px;
  font-weight: 400;
  line-height: 30px;
  color: #444444;
  border-bottom: 1px solid #46c1ae;

  &:hover {
    color: #46c1ae;
  }

  &:active {
    opacity: $opacity30;
  }
}

